{% extends 'base.html' %}
{% block welcome %}{% endblock %}
{% block title %}Edit User{% endblock %}

{% block content %}
  <h1>Edit User</h1>

  <form method="POST" class="col-md-6">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" value="{{ user.username }}" class="form-control" required  />
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea name="description" rows="3" class="form-control"   value="{{ user.description }}" >{{ user.description }} </textarea>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{{ url_for('show_users') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
