<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users
    </title>
     <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px 12px; text-align: left; }
        th { background: #f4f4f4; }
    </style>

</head>
<body>
    <h1>Registered Users</h1>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Description</th>
            <th>Registered On</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.description }}</td>
            <td>{{ user.datetime.strftime('%d %B %Y, %I:%M %p') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
</body>
</html>